@import '../../../common.styl'

.screenWrapper
  coolScrollbar()
  max-height 100vh
  padding 28px
  overflow auto

.screen
  background white
  padding 28px

.table
  border 2px solid $primary
  padding 28px

.head
  margin 0

.row
  display flex
  justify-content space-around
  align-items center

.body
  margin 0

.pagination
  display flex
  justify-content center