@import '../../../common.styl'

.screenWrapper
  coolScrollbar()
  max-height 100vh
  padding 28px
  overflow auto

.screen
  background white
  padding 28px

.table
  padding 0

.head
  background-color $background-light
  border-radius 8px
  min-height 42px
  display flex

.row
  display flex
  justify-content space-around
  align-items center
  width 100%

.body
  margin 0

.pagination
  display flex
  justify-content space-evenly